{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/navbar.html' %}

  <div class="content">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h1 class="number mb-0">1</h1>
          <h1 class="mt-0">UPLOAD<br>PHOTO</h1>
          <p>Upload an image of your Hangul handwriting to extract text and check for grammar and handwriting mistakes.</p>

          <a href="{% url 'core:result' %}" class="btn btn-box w-100">
            Upload Image<i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include 'core/footer.html' %}

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
