{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">

  <script src="{% static 'core/js/index.js' %}"></script>
{% endblock head %}

{% block body %}

  {% include 'core/navbar.html' %}

  <div class="content">
    <div class="container py-5">
      <div id="step-1" class="row">
        <div class="col-12 col-md-8">
          <h1 class="number mb-0">1</h1>
          <h1 class="mt-0">UPLOAD<br>PHOTO</h1>
          <p>Upload an image of your Hangul handwriting to extract text and check for grammar and handwriting mistakes.</p>

          <form id="image-upload-form" enctype="multipart/form-data" method="post" action="{% url 'core:result' %}">
            {% csrf_token %}
            <div class="form-group">
              <label id="image-upload-label" for="image-upload-input" class="w-100">
                <div class="btn btn-box w-100 image-upload-button">
                  <i class="fas fa-cloud-upload-alt d-block mb-3"></i>
                  Choose and image or drag it here
                </div>
                <input type="file" name="image" accept="image/*" class="form-control-file" title="" required="" id="image-upload-input">
              </label>
            </div>
          </form>
        </div>
      </div>
      <div id="step-2" class="row d-none">
        <div class="col-12 col-md-8">
          <h1 class="number mb-0">2</h1>
          <h1 class="mt-0">PROCESSING<br>IMAGE...</h1>
          <p>Our virtual cats are working hard to read your image.</p>
          <img src="{% static 'core/img/cats.gif' %}">
        </div>
      </div>
    </div>
  </div>

  {% include 'core/footer.html' %}

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
